.icons{
    display: flex;
    column-gap: 25px;
    align-items: center;
    justify-items: center;
}
.icon{
    border-radius: 50%;
}

.ri-instagram-line{
    max-width: 25px;
    max-height: 25px;
}

.ri-twitter-line{
    max-width: 25px;
    max-height: 25px;
}

.ri-github-line{
    max-width: 25px;
    max-height: 25px;
}